
<% include partials/header %>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <h1 class="text-center">Your life in tags.</h1>
  </div>
</div>
    <div class="row">
      <div id="box"class="col-md-12 col-xs-12">

            <div class="photo-list"></div>
      </div>
    </div>


 <% include partials/footer %>

